<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="jujhar@jujhar.com">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Raleway"
    rel="stylesheet"
    type="text/css"
  />

  <style>
    body {
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      font-weight: 300;
      fill: #242424;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
      cursor: default;
    }

    .center {
      text-align: center;
    }

    .legend {
      font-family: "Raleway", sans-serif;
      fill: #333333;
    }

    .tooltip {
      fill: #333333;
    }

    th {
      text-transform: capitalize;
    }
  </style>

  <title>DevSecOps Capability Model</title>
</head>
<body>
